<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.model.SuiteListenerTest"/>
<listener class-name="com.model.TestcaseListenerTest"/>
</listeners>
<test name="TestMercury" thread-count="5">
<classes>
<class name="com.model.MercuryTsTest"/>
</classes>
</test> <!-- TestMercury -->
</suite> <!-- Suite -->
